<h3>Ajout d'un produit</h3>
<div class="container">
<form (ngSubmit)="ajoutarticle()">


<div class="mb-3">
  <label for="designation" class="form-label">Designation</label>
  <input type="text" class="form-control" id="designation" name="designation" placeholder="Designation" [(ngModel)]="article.designation">
</div>
<div class="mb-3">
  <label for="image" class="form-label">Image</label>
  <input type="text" class="form-control" id="image" name="image" placeholder="Image" [(ngModel)]="article.imageart">
</div>
<div class="mb-3">
  <label for="marque" class="form-label">Marque</label>
  <input type="text" class="form-control" id="marque" name="marque" placeholder="Marque" [(ngModel)]="article.marque">
</div>
<div class="mb-3">
  <label for="prix" class="form-label">Prix</label>
  <input type="text" class="form-control" id="Prix" name="prix" placeholder="Prix" [(ngModel)]="article.prix">
</div>
<div class="mb-3">
  <label for="qtestock" class="form-label">Quantite stock</label>
  <input type="text" class="form-control" id="qtestock" name="qtestock" placeholder="Quantite stock" [(ngModel)]="article.qtestock">
</div>
<div class="mb-3">
    <label for="reference" class="form-label">Reference</label>
    <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference" [(ngModel)]="article.reference">
  </div>
  <div class="mb-3">
    <label for="scategorieID" class="form-label">Sous-CategorieID</label>

    <select type="text" class="form-control" id="scategorieID" name="scategorieID" placeholder="scategorieID" [(ngModel)]="article.scategorieID">
  <option *ngFor="let sd of scategorie" value="{{sd._id}}">
  {{sd.nomscategorie}}
  </option>
    </select>
  </div>

  
  <button type="submit" class="btn btn-primary"  >Enregistrer</button>
</form>